<% if activity.trackable && activity.recipient.id != @user.id %>
    <li class="list-group-item"> <%= link_to activity.recipient.username, user_path(activity.recipient.username) %> mentioned in a tweet <%= content_tag :time, '', class: 'timeago', datetime: activity.created_at.localtime  %> </li>
<%end%>